includes=**/*.java **/*.go
excludes=**/its/** **/**/*javadoc.jar **/*sources.jar **/build-logic/**
fileSystemScan=False
resolveAllDependencies=False

gradle.aggregateModules=True
gradle.preferredEnvironment=wrapper
gradle.resolveDependencies=True
gradle.ignoredConfigurations=.*test.* .integrationTest.*
gradle.excludeModules=.*its.* build-logic cloud-native-gradle-modules

go.resolveDependencies=true
go.modules.resolveDependencies=true

wss.url=https://saas-eu.whitesourcesoftware.com/agent

forceUpdate=true
checkPolicies=true
forceUpdate.failBuildOnPolicyViolation=true
